In [2]:
from sklearn.datasets import load_boston
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = load_boston()
dataset = pd.DataFrame(df.data)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
dataset.columns = df.feature_names

In [6]:
df.target.shape

(506,)

In [7]:
dataset['Price'] = df.target

In [8]:
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [9]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [10]:
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [11]:
x.shape

(506, 13)

In [12]:
y.shape

(506,)

In [16]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
lin_regressor = LinearRegression()
mse = cross_val_score(lin_regressor,x,y,scoring = 'neg_mean_squared_error',cv=5)
mean_mse = np.mean(mse)
print(mean_mse)

-37.13180746769922

In [17]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [18]:
ridge = Ridge()
parameters = {'alpha':[1e-15,1e-10]}

In [20]:
from sklearn.model_selection import FridSearchCV
from sklearn.linear_model import Lasso
from sklearn.linear_model import *
import os

ImportError: cannot import name 'FridSearchCV' from 'sklearn.model_selection' (C:\Users\wayne\anaconda3\lib\site-packages\sklearn\model_selection\__init__.py)

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state=0)

In [22]:
prediction_lasso = lasso_regressor.predict(x_test)
prediction_ridge = ridge_regressor.predict(x_test)

NameError: name 'lasso_regressor' is not defined

In [23]:
import seaborn as sns
sns.distplot(y_test-prediction_lasso)

NameError: name 'prediction_lasso' is not defined

In [24]:
import os
import csv
import pandas as pd
import numpy as np
from datetime import datetime

In [32]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from matplotlib import cm
import seaborn as sns
import plotly
import plotly.graph_objs as go
data = {"Place":['Amsterdam','Barcelona','Paris','Geneva','Munich','Athens','Vienna'],
       'Temp_Jan':[3.4,11.8,5.0,1.5,0.3,9.9,1.2],
       'Temp_Jul':[17.6,25.7,20.6,20.2,19.4,28.5,19.1],
       'Language':['Dutch','Catalan and Spanish','French','French','German','Greek','German'],
       'Altitude':[-2,12,np.nan,375, 520, 338, 542],
       'MeasureDate':[np.nan,np.nan,'01-01-2013', '01-12-2015', '31-12-2015', np.nan, '01-01-2017'],
       'Population':[1351587,4740000,10601122,198072,14503]}
df1 = pd.DataFrame(data,columns = ['Place', 'Temp_Jan', 'Temp_Jul', 'Language', 'Altitude','MeasureDate', 'Population'])
df2 = pd.DataFrame(data,columns = ['China',"America",'India','Japan',"Australia","Russia",'England','France','Germany','Spain'])

ValueError: arrays must all be same length

In [33]:
df1 = pd.DataFrame(data,columns = ['Place', 'Temp_Jan', 'Temp_Jul', 'Language', 'Altitude', 'MeasureDate', 'Population'])
df2 = pd.DataFrame(data,columns = ['Place', 'Temp_Jul', 'Temp_Jan', 'Language', 'Population', 'MeasureDate', 'Altitude'])
df3 = pd.DataFrame(data,columns = ['Place', 'Temperature', 'Language', "Population", "Time", "Altitude"])

ValueError: arrays must all be same length